<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result!</title>
</head>
<body>
    <h5>Search Result!</h5>
    <h4>You searched: {{ query }}</h4>
    
    
    
        
    
    {% if queryset1 %}
    {% for data in queryset1  %}
        <h2>{{ data.title }}</h2>
        <img src="{{ data.image.url }}" height="100" width="100" alt="Image">
    {% endfor %}
    {% endif %}

     <hr>
     {% if queryset2 %}
     {% for data in queryset2  %}
         <h2>{{ data.title }}</h2>
         
     {% endfor %}
     {% endif %}
     <hr>
     {% if queryset3 %}
     {% for data in queryset3  %}
         <h2>{{ data.title }}</h2>
     {% endfor %}
     {% endif %}


</body>
</html>